{% extends "base.html" %}

{% block content %}
<style>
  .fakeimg {
      height: 200px;
      background: #aaa;
  }
</style>
<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Крошки на ножках</h1>
  <h2>Добавление товара</h2>
</div>
<nav style="background-color: #bbbbbb;">
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.is_private() }} {{ form.is_private.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-secondary") }}</p>
    {{message}}
</form>
</nav>
{% endblock %}